{
  "presets": [
    "env",
    "react",
    "stage-2"
  ],
  "env": {
    "start": {
      "plugins": [
        "babel-plugin-styled-components"
      ],
      "presets": [
        "react-hmre"
      ]
    }
  },
  "plugins": [
    "babel-plugin-styled-components",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "ramda"
  ]
}
